{% extends "base.html" %} {% block content %}

<h1>Welcome to My Portfolio</h1>
<p>Hello, I'm Nicholas, a Python Developer</p>

<h2>About Me</h2>
<p>
  I'm a passionate developer with experience in building web applications using
  Python and Flask. I love creating efficient and scalable solutions to
  real-world problems.
</p>

<h2>Projects</h2>
<ul>
  <li>Project 1: I created a calculator</li>
  <li>Project 2: I created a to-do list application</li>
  <li>Project 3: I created a web scraper for news headlines</li>
</ul>

{% endblock %}
